= form_for @app do |f|
  - if @app.errors.any?
    #error_explanation
      %h2= "#{pluralize(@app.errors.count, "error")} prohibited this app from being saved:"
      %ul
        - @app.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :domains, "Domains (one per line)"
    = f.text_area :domains, size: '80x5'
  .actions
    = f.submit 'Save'
